*
{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}
body{
    color: #40514E;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h2{
    font-family: 'Montserrat', sans-serif;
    display: inline;
    color:#66bfbf;
    font-weight: normal;
    font-size: 2.5rem;


}
hr{
    border: dotted gray 6px;
    border-bottom: none;
    margin: 100px;
   
}
.line{
    color: #66bfbf;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}
.profile{
    width: 50%;
    margin: 100px auto 100px auto;
  
    line-height: 2;
}
.profile-pic
{
    width:200px;
    height: 200px;
    margin-right: 50px;
    float: left;
    border-radius:  50%; 

}
.intro{
    text-align: right;
    position: relative;
    top: 20px;
    margin-left: 250px;
    line-height: 2;
}


h1{
    font-family: 'Sacramento', cursive;
    font-size: 563%;
    color:#66bfbf;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}


.div1{
    background-color:#E4F9F5 ;
    width: 1600px;
    height: 800px;
   
    padding-top: 200px;
}
.skill-pic1{
    width: 25%;
    float: right;
}
.skill-pic2{
    width: 25%;
    border-radius: 100%;
    float: left;
    margin-right: 40px;
}
.contact-me{
    width: 50%;
    margin: 100px auto 100px auto;
   
    line-height: 2;

}
.btn {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.btn:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
a{
    color: #283966;
    text-decoration: none;
    font-family:  'Montserrat', sans-serif;
    margin: 10px 20px 50px 0px;
}
a:hover{
    color: #E4F9F5;

}
.btn:active {
	position:relative;
	top:1px;
}
.bottom-container{
    background-color: #66bfbf;
    padding: 50px 0px 20px;
}

   

.tcloud
{
    position: absolute;
    right: 300px;
    top: 50px;
}
.bcloud
{
    position: absolute;
    left:300px;
    bottom: 300px;
   
}
